
<div id="server_communication" style="display: none">
  <div id="loading_circle"></div>
  <div id="loading"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <label>TrenÄiansky kraj</label><br>
      <div class="button" id="tn">Tn kraj
      </div>
    </div>
  </div>
</div>

<div id='map'></div>

